<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Zadanie</title>

    <link rel="icon" href="favicon.png" type="image/png">

    

    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="vue.js"></script>
    <script src="axios.js"></script>

    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
    <div id="app">
        
        <div class="container my-5">

            <!-- RULES FIELDS -->
            <div class="row">
                <div class="col-md">
                    <!-- <form action="server.php" method="POST"> -->

                        <div class="alert alert-warning m-0" v-if="!rules.length">No rules...</div>

                        <div class="form-inline mb-2" v-for="(item, index) in rules">
                            <div class="p-2">{{index+1}}</div>

                            <select name="field" class="form-control mr-2" v-model="item.field">
                                <option value="0" selected disabled>Field...</option>
                                <option value="size">Size</option>
                                <option value="forks">Forks</option>
                                <option value="stars">Stars</option>
                                <option value="followers">Followers</option>
                            </select>

                            <select name="operator" class="form-control mr-2" v-model="item.operator">
                                <option value="0" selected disabled>Operator...</option>
                                <option value=">">&gt;</option>
                                <option value="<">&lt;</option>
                                <option value="">=</option>
                            </select>

                            <input type="number" class="form-control mr-2" name="value" value="" v-model="item.value" min="0" placeholder="Value...">

                            <button class="btn btn-danger" @click="DeleteRule(index)">Delete</button>
                        </div>

                    <!-- </form> -->
                </div>
            </div>

            <hr>

            <!-- REQUEST SEND BUTTONS -->
            <div class="row">
                <div class="col-md-6">

                    <div class="form-inline">
                        <button class="btn btn-primary mr-2" :disabled="!rules.length" @click="Apply">Apply</button>
                        <button class="btn btn-warning mr-2" @click="Clear">Clear</button>
                        
                        <button class="btn btn-success ml-auto" @click="AddRule">Add Rule</button>
                    </div>

                </div>
            </div>

            <hr>

            <!-- RESULTS -->
            <div class="row">
                <div class="col-md">
                    
                    <div v-for="(item, index) in result">
                            <a :href="`${item.html_url}`" target="_blank">{{item.name}}</a> | Size: {{item.size}} | Forks: {{item.forks}} | Followers: {{item.watchers}} | Stars: {{item.stargazers_count}}
                    </div>
                    
                </div>
            </div>

            <!-- END of .container -->
        </div>

        <!-- END of #app -->
    </div>

    <script src="app.js"></script>
</body>
</html>